

body {
  text-align: center;
  background-color: #074073;
  font-size: 60px;
  letter-spacing: 10px;
}

h1 {
  font-family: 'Londrina Solid', cursive;
  color: white;
  font-size: 3rem;
  letter-spacing: 10px;
}

.stage {
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: red; */
}

.stage2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 80vw;
  height: 80vw;
  max-width: 450px;
  max-height: 450px;
  background-image: url(assets/fundo.png);
  background-size: cover;
  background-position: center; /* Center the image */

}

.square {
  display: grid;
  justify-items: center;
  align-items: center;
  cursor: pointer;
}

img {
  width: 66%;
}



/* .o {
  position: relative;
}

.o::after {
  content: "\274C";
  font-size: 50px;
  line-height: 100px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.x {
  display: flex;
  align-self: center;
}

.x::after {
  content: "";
  font-size: 50px;
  line-height: 100px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
} */