

body {
  text-align: center;
  background-color: #14BCAB;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.stage {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stage2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 450px;
  height: 450px;
  background-image: url(assets/fundo.png);
  background-size: cover;
  background-position: center; /* Center the image */

}

.square {
  display: grid;
  justify-items: center;
  align-items: center;
  width: 150px;
  height: 150px;
  cursor: pointer;
}

img {
  width: 100px;
}



/* .o {
  position: relative;
}

.o::after {
  content: "\274C";
  font-size: 50px;
  line-height: 100px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.x {
  display: flex;
  align-self: center;
}

.x::after {
  content: "";
  font-size: 50px;
  line-height: 100px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
} */