* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  background-color: #074073;
}

h1 {
  margin: 5vw;
  font-family: 'Londrina Solid', cursive;
  color: white;
  font-size: 3rem;
  letter-spacing: 10px;
}

.stage {
  display: flex;
  align-items: center;
  justify-content: center;
}

.stage2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 60vmin;
  height: 60vmin;
  max-width: 450px;
  max-height: 450px;
  background-image: url(assets/fundo.png);
  background-size: cover;
  background-position: center; /* Center the image */

}

.square {
  display: grid;
  justify-items: center;
  align-items: center;
  cursor: pointer;
}

.stage2 img {
  width: 66%;
}

.score {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 60vmin;
}

.score div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0487D9;
  margin: 10px;
  padding: 10px;
  border-radius: 25px;
}

.score p, #buttons p {
  font-size: 25px;
  color: white;
}

.score img {
  width: 5vmin;
  margin-right: 2px;
}

button {
  border: none;
  background-color: #F24C27;
  padding: 10px;
  border-radius: 25px;
  margin-top: 30px;
}

#buttons p {
  font-size: 15px;
}